<div class=" top-page col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
  <div class = "col-xs-6">
  <h1>New COMIT</h1>
  <%= form_for @comit, :html => {:class => "upload_file_form"} do |f| %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <strong>Note!</strong> Only the first sheet in file will be processed.
      </div>

      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
        <div class="form-control" data-trigger="fileinput"><i class="fa fa-file-excel-o fileinput-exists"></i>
          <span class="fileinput-filename"></span></div>
        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span> <%= f.file_field :file_url, class: "file-input" %></span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
      <p class="help-block">Must be .xls/xlsx/csv file</p>


      <div class="actions">
        <%= button_tag " Upload", type: 'submit', :class => "btn btn-success fa fa-upload", data: {disable_with: "Processing..."}, style: "color:white", id: "upload-btn" %>
      </div>
  <% end %>
  <div class="loading_modal"></div>

  <%= link_to comits_path, :title => 'Back',
              :rel => 'tooltip',
              type: 'button',
              class: 'btn btn-primary',
              style: 'color:white' do %>
      <i class="fa fa-arrow-circle-left">Back</i>
  <% end %>
</div>
</div>