<div id="all-coas-form" class="tab-pane fade in active" role="tabpanel">
  <h3>COA Files</h3>
  <%= render "coas/tables/all_coas" %>
</div>

<div id="all-msds-form" class="tab-pane fade" role="tabpanel">
  <h3>MSDS Files</h3>
  <%= render "coas/tables/all_msds" %>
</div>
