<div class="tab-content">
  <div id="vendor-info-form" class="tab-pane fade in active" role="tabpanel">
    <h3>Vendor Details</h3>
    <%= render "vendors/manage_vendors/vendor_info" %>
  </div>
  <div id="vendor-agreement-form" class="tab-pane fade" role="tabpanel">
    <h3>Available Agreements</h3>
    <%= render "vendors/manage_vendors/vendor_agreement" %>
  </div>
  <div id="vendor-contact-form" class="tab-pane fade" role="tabpanel">
    <h3>Available Contacts</h3>
    <%= render "vendors/manage_vendors/vendor_contacts" %>
  </div>
</div>

