<li class="dropdown" id="uncuratedDropDown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="uncuratedTag">
    Uncurated Records
    <span class="badge" id="uncuratedMainCount"><%= @uncurated.count %> </span>
    <span class="caret"> </span>
  </a>
  <ul class="dropdown-menu" id="uncuratedList">

  </ul>


