<div class="center">
  <h1>Search Results</h1>
  <p class="center-aligned"><i class="fa fa-question-circle fa-lg"></i> No results found for '<%= @search_term %>'.</p>
  <h4>The ChemTrack services are currently unavailable. We have been notified about this issue. Please try again
    soon.</h4>

</div>