// Place all the styles related to the Bottles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer-space {
  padding-bottom: 3em;
  padding-top: 50px;
}

.create-bottle{
  margin-top: 7px;
}

#concentrationOptions{
  display: none;
}

#inputAmount{
  display: none;
}