// Place all the styles related to the coa_summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.upload-coasummary{
  margin-top: 7px;
}

#curated-coa-summaries-form{
  display:none;
}


td.multiple-gsids {
  background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.multiple-gsids {
  background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

