<table id="coas-index-table" class="table-bordered table-condensed table-hover table-striped" cellspacing="0" width="100%" data-source="<%= coas_url(format: "json") %>">
  <thead>
  <tr>
    <th nowrap>Created at</th>
    <th nowrap>Filename </th>
    <th nowrap>Added by user</th>
    <th nowrap>Mapped Barcode</th>
  </tr>
  </thead>
  <tbody>
  <tr id=content></tr>
  </tbody>

</table>
