<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-clock-o fa-fw"></i> Timeline
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body accordion-content">
    <ul class="timeline">
      <% @activities.each do |activity| %>
      <hr>
      <li>
        <div class="timeline-panel">
          <%= render "agreements/activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
        </div>
      </li>
       <hr>
        <%end%>
    </ul>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
