<footer class = "navbar-fixed-bottom epa-footer-image">
  <div class="container">
    <a class="footer-image" href="https://epa.gov" target="_blank">
      <%= image_tag('epa_logo_281.png', alt: 'EPA Logo' ) %>
    </a>
  </div>
</footer>